.Pokecard {
    margin: 0 2rem 20px 2rem;
    padding: 8px 0 0 0;
    box-shadow: 7px 10px 10px -5px rgba(0, 0, 0, .56);
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.Pokecard-title {
    margin: 5px 0;
}

.Pokecard-data {
    font-size: 70%;
    margin: 4px;
}

.Pokecard-image { 
    background-color: #eceff1;
    border-radius: 4px;
    margin: 5px auto;
    width: 75%;
}

.Pokecard img {
     width: 80%;
     transition: all ease 500ms;
}

.Pokecard img:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

